<div class="corpo">
  <editor-de-tarefas></editor-de-tarefas>
  <h1>Lista de Tarefas</h1>
  <div class="tela">
    <criador-de-tarefas></criador-de-tarefas>

    <pesquisa-de-tarefas></pesquisa-de-tarefas>

    <div class="tarefas">
      <!--Perceba que apenas usamos um for para iterar sobre as tarefas com a diretiva ngFor-->
      <div *ngFor="let tarefa of tarefasDaAPI" class="tarefa" [ngStyle]="{'background-color': tarefa.corDaTarefa}">
        <h2>{{tarefa.nome}}</h2>
        <h2> Proprietário: {{tarefa.proprietario}} </h2>
        <h2> Data início: {{tarefa.dataInicio}} </h2>
        <h2> Data início: {{tarefa.dataTermino}} </h2>

        <button class="tarefa_button">editar</button>
        <button class="tarefa_button" (click)="excluirTarefa(tarefa.id)">excluir</button>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<!--Podemos usar a diretiva NGFOR para criar um lista de tarefas dentro da <div class="tarefas></div>,
  Assim poderemos colocar essas tarefas de forma dinâmica"-->
